<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.se_demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/closet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/closet"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:theme="@style/Theme.SE_Demo">
        <activity android:name=".Intro_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".InitialScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Subactivity_top" />
        <activity android:name=".Subactivity_bottom" />
        <activity android:name=".Color" />
        <activity android:name=".Material" />
        <activity android:name=".Top_Bottom" />
        <activity android:name=".Cloth_search"/>
        <activity android:name=".Photo"/>
        <activity android:name=".Styler"/>
        <activity android:name=".FragmentHanger"/>
        <activity android:name=".FragmentDrawer"/>
        <activity android:name=".FragmentWindSystem"/>
        <activity android:name=".StylerReservation"/>
        <activity android:name=".Trash"/>
        <activity android:name=".Etc"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>